body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f2f2f2;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #111;
    color: white;
}

header nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 60px 20px;
    background: #fff;
}

.profile {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.section {
    background: white;
    margin: 40px auto;
    padding: 30px;
    width: 80%;
    border-radius: 8px;
}

.skills-list {
    list-style: none;
    padding: 0;
}

.skills-list li {
    background: #111;
    color: white;
    display: inline-block;
    padding: 6px 12px;
    margin: 5px;
    border-radius: 5px;
}

.project-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-card {
    width: 30%;
    background: #eee;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #111;
    color: white;
}
.project-card img {
    width: 100%;
    height: 180px;      /* Controls image height */
    object-fit: cover;   /* Keeps image inside frame */
    border-radius: 10px; /* Smooth corners */
    margin-bottom: 10px;
}
